@charset "Shift_JIS";

/* ====================================================== */
/* Last Update : 2021.2.3 */
/* For : Add Font Color */
/* ====================================================== */

/* Fixed Font Size */
body {
-webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------ */
/* Heading Parts */
/* ------------------------------------------------------ */

#eleV4 .h1Style01 {
margin-bottom: 10px;
border-bottom: 3px solid #0090da;
text-align: center;
font-size: 300%;
line-height: 1.3;
font-weight: normal;

}
#eleV4 .h2Style01 {
margin: 40px 0;
padding-left: 11px;
border-left: 7px solid #0090da;
font-size: 200%;
line-height: 1.3;
font-weight: normal;
color: #0061a0;
}

#eleV4 .h2Style02 {
margin-bottom: 15px;
padding-left: 11px;
border-left: 7px solid #0090da;
font-size: 200%;
line-height: 1.3;
font-weight: normal;
}
#eleV4 .h3Style01 {
margin-bottom: 30px;
padding-left: 25px;
background: url(/common/images_v4/cmn_headicn_01.png) 0 center no-repeat;
font-size: 157.14%;
line-height: 1.3;
font-weight: normal;
}
#eleV4 .h4Style01 {
position: relative;
margin-bottom: 20px;
padding: 16px 20px 18px 20px;
background-color: #f2f2f2;
}
#eleV4 .h4StyleTxt01 {
display: block;
padding: 3px 0 0 8px;
border-left: 3px solid #0090da;
font-size: 142.8571%;
line-height: 1.3;
font-weight: normal;
}



/* ------------------------------------------------------ */
/* Text Parts */
/* ------------------------------------------------------ */

/* link */
/* ------------------------------------------------------ */
#eleV4 a,
#eleV4 a:link{
color: #0061a0;
text-decoration: underline;
}
#eleV4 a:visited {
color: #0061a0;
}
#eleV4 a:hover {
color: #0090da!important;
text-decoration: none;
}



/* text */
/* ------------------------------------------------------ */
#eleV4 .txtStyle01 {
font-size: 114.29%;
}
#eleV4 .txtStyle02 {
font-size: 107.14%;
}
#eleV4 .txtStyle03 {
font-size: 92.86%;
}
#eleV4 .txtStyle04 {
font-size: 85.7%;
}



/* underLine */
/* ------------------------------------------------------ */
#eleV4 .txtLine{
text-decoration:underline;
}



/* bold */
/* ------------------------------------------------------ */
#eleV4 .txtBold {
font-weight: bold;
}



/* orange */
/* ------------------------------------------------------ */
#eleV4 .org{
color:#e2195b;
}



/* boldOrange */
/* ------------------------------------------------------ */
#eleV4 .bOrg{
color:#F05D13;
font-weight:bold;
}



/* ------------------------------------------------------ */
/* Link Parts */
/* ------------------------------------------------------ */

#eleV4 .linkStyle01 {
padding-left: 15px;
background: url(/common/images_v4/cmn_icon_14.png) no-repeat 0 center;
text-decoration: underline;
}
#eleV4 .linkStyle02 {
display: inline-block;
min-height: 20px;
padding-left: 25px;
background: url(/common/images_v4/cmn_icon_05.png) no-repeat 0 center;
text-decoration: underline;
}
#eleV4 .linkStyle03 {
display: inline-block;
min-height: 20px;
padding-left: 25px;
background: url(/common/images_v4/cmn_icon_05.png) no-repeat 0 center;
font-weight: bold;
text-decoration: underline;
}
#eleV4 .linkStyle04:after {
content: "";
display: inline-block;
position: relative;
top: 2px;
width: 13px;
height: 12px;
margin-left: 2px;
background: url(/common/images_v4/cmn_ic_04.png) no-repeat 0 0;
}
#eleV4 .linkStyle05:after {
content: "";
display: inline-block;
position: relative;
top: 2px;
width: 14px;
height: 12px;
margin-left: 2px;
background: url(/common/images_v4/cmn_ic_07.png) no-repeat 0 0;
}
#eleV4 .linkStyle06 {
display: inline-block;
min-height: 20px;
padding-left: 25px;
background: url(/common/images_v4/cmn_icon_13.png) no-repeat 0 0;
}
#eleV4 .linkStyle07 {
display: inline-block;
min-height: 20px;
padding-left: 25px;
background: url(/common/images_v4/cmn_icon_01.png) no-repeat 0 0;
}
#eleV4 .linkStyle08 {
display: inline-block;
min-height: 15px;
padding-left: 20px;
background: url(/common/images_v4/cmn_ic_06.png) no-repeat 0 center;
text-decoration: underline;
}
#eleV4 .linkBtnStyle01 {
display: inline-block;
min-width: 295px;
overflow: hidden;
padding: 11px 20px 9px 20px;
background: #0061a0;
border-radius: 4px;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
text-align: center;
vertical-align: middle;
color: #ffffff;
}
#eleV4 .linkBtnStyle01:link {
color: #ffffff;
text-decoration: none;
}
#eleV4 .linkBtnStyle01:visited {
color: #ffffff;
text-decoration: none;
}
#eleV4 .linkBtnStyle01:hover {
opacity: 0.8;
color: #ffffff;
text-decoration: none;
}
#eleV4 .linkBtnStyle01:before {
content: "";
display: inline-block;
position: relative;
top: 2px;
width: 12px;
height: 17px;
margin-right: 12px;
background: url(/common/images_v4/cmn_btn_icon_01.png) 0 0 no-repeat;
}

/* iconTail */
/* ------------------------------------------------------ */
#eleV4 .iconTail {
margin-left: 3px;
vertical-align: middle;
}


/* ------------------------------------------------------ */
/* List Parts */
/* ------------------------------------------------------ */

#eleV4 .listStyle01 {
margin-top: 20px;
}
#eleV4 .listItemStyle01 {
padding-left:1.5em;
text-indent:-1.5em;
}
#eleV4 .listItemStyle02 {
margin-top: 5px;
margin-bottom: 5px;
padding-left: 21px;
background: url(/common/images_v4/cmn_ic_12.png) no-repeat 0 0.2em;
}



/* ------------------------------------------------------ */
/* Table Parts */
/* ------------------------------------------------------ */

#eleV4 .tableStyle01 {
text-align: center;
}
#eleV4 .thStyle01 {
width: 208px;
padding: 10px;
border-left: 1px solid #e3e3e3;
border-right: 1px solid #e3e3e3;
background-color: #0061a0;
font-size: 85.7%;
font-weight: bold;
color: #ffffff;
}
#eleV4 .thStyle01:first-child {
border-left-color: #e3e3e3;
}
#eleV4 .thStyle01:last-child {
border-right-color: #e3e3e3;
}
#eleV4 .tdStyle01 {
padding: 10px;
border-left: 1px solid #e3e3e3;
border-right: 1px solid #e3e3e3;
border-bottom: 1px solid #e3e3e3;
background-color: #f2f2f2;
font-size: 85.7%;
color: #333333;
}
#eleV4 .tdStyle02 {
width: 208px;
padding: 10px;
border-left: 1px solid #e3e3e3;
border-right: 1px solid #e3e3e3;
border-bottom: 1px solid #e3e3e3;
background-color: #ffffff;
font-size: 85.7%;
color: #333333;
}



/* ------------------------------------------------------ */
/* Guard Box Parts */
/* ------------------------------------------------------ */

/* noteList */
/* ------------------------------------------------------ */
#eleV4 .noteListStyle01,
#eleV4 .noteListStyle02 {
margin: 40px 0;
padding: 15px 20px;
background-color: #f2f2f2;
}
#eleV4 .noteListStyle01 {
border-radius: 6px;
}
#eleV4 .noteListItemStyle01 {
padding-left:1.5em;
text-indent:-1.5em;
}

/* guardBox */
/* ------------------------------------------------------ */
#eleV4 .guardBoxStyle01,
#eleV4 .guardBoxStyle02 {
margin-top: 30px;
padding: 15px 25px;
border: 1px solid #e5e5e5;
}
#eleV4 .guardBoxStyle01{
border-radius: 6px;
}
#eleV4 .guardBoxStyle02{
padding: 15px 20px;
}

#eleV4 .guardBoxNumStyle01,
#eleV4 .guardBoxNumStyle02 {
margin: 5px 0 0 0;
text-align: right;
}
#eleV4 .guardBoxNumStyle01 {
color: #666666;
}



/* pageup */
/* ------------------------------------------------------ */
#eleV4 .pageup {
margin: 15px 0 20px;
text-align: right;
}
#eleV4 .pageup a {
background: url(/common/images_v4/cmn_ic_05.png) no-repeat 0 0.4em;
display: inline-block;
padding-left: 14px;
font-size: 85.71%;
}



/* ------------------------------------------------------ */
/* important */
/* ------------------------------------------------------ */

/* margin Top */
/* ------------------------------------------------------ */
.tmM120{margin-top:-120px!important;}
.tmM115{margin-top:-115px!important;}
.tmM110{margin-top:-110px!important;}
.tmM105{margin-top:-105px!important;}
.tmM100{margin-top:-100px!important;}
.tmM95{margin-top:-95px!important;}
.tmM90{margin-top:-90px!important;}
.tmM85{margin-top:-85px!important;}
.tmM80{margin-top:-80px!important;}
.tmM75{margin-top:-75px!important;}
.tmM70{margin-top:-70px!important;}
.tmM65{margin-top:-65px!important;}
.tmM60{margin-top:-60px!important;}
.tmM55{margin-top:-55px!important;}
.tmM50{margin-top:-50px!important;}
.tmM45{margin-top:-45px!important;}
.tmM40{margin-top:-40px!important;}
.tmM35{margin-top:-35px!important;}
.tmM30{margin-top:-30px!important;}
.tmM25{margin-top:-25px!important;}
.tmM20{margin-top:-20px!important;}
.tmM15{margin-top:-15px!important;}
.tmM10{margin-top:-10px!important;}
.tmM5{margin-top:-5px!important;}
.tm0{margin-top:0px!important;}
.tm5{margin-top:5px!important;}
.tm10{margin-top:10px!important;}
.tm15{margin-top:15px!important;}
.tm20{margin-top:20px!important;}
.tm25{margin-top:25px!important;}
.tm30{margin-top:30px!important;}
.tm35{margin-top:35px!important;}
.tm40{margin-top:40px!important;}
.tm45{margin-top:45px!important;}
.tm50{margin-top:50px!important;}
.tm55{margin-top:55px!important;}
.tm60{margin-top:60px!important;}
.tm65{margin-top:65px!important;}
.tm70{margin-top:70px!important;}
.tm75{margin-top:75px!important;}
.tm80{margin-top:80px!important;}
.tm85{margin-top:85px!important;}
.tm90{margin-top:90px!important;}
.tm95{margin-top:95px!important;}
.tm100{margin-top:100px!important;}
.tm105{margin-top:105px!important;}
.tm110{margin-top:110px!important;}
.tm115{margin-top:115px!important;}
.tm120{margin-top:120px!important;}


/* margin Bottom */
/* ------------------------------------------------------ */
.bmM120{margin-bottom:-120px!important;}
.bmM115{margin-bottom:-115px!important;}
.bmM110{margin-bottom:-110px!important;}
.bmM105{margin-bottom:-105px!important;}
.bmM100{margin-bottom:-100px!important;}
.bmM95{margin-bottom:-95px!important;}
.bmM90{margin-bottom:-90px!important;}
.bmM85{margin-bottom:-85px!important;}
.bmM80{margin-bottom:-80px!important;}
.bmM75{margin-bottom:-75px!important;}
.bmM70{margin-bottom:-70px!important;}
.bmM65{margin-bottom:-65px!important;}
.bmM55{margin-bottom:-55px!important;}
.bmM50{margin-bottom:-50px!important;}
.bmM45{margin-bottom:-45px!important;}
.bmM40{margin-bottom:-40px!important;}
.bmM35{margin-bottom:-35px!important;}
.bmM30{margin-bottom:-30px!important;}
.bmM25{margin-bottom:-25px!important;}
.bmM20{margin-bottom:-20px!important;}
.bmM15{margin-bottom:-15px!important;}
.bmM10{margin-bottom:-10px!important;}
.bmM5{margin-bottom:-5px!important;}
.bm0{margin-bottom:0px!important;}
.bm5{margin-bottom:5px!important;}
.bm10{margin-bottom:10px!important;}
.bm15{margin-bottom:15px!important;}
.bm20{margin-bottom:20px!important;}
.bm25{margin-bottom:25px!important;}
.bm30{margin-bottom:30px!important;}
.bm35{margin-bottom:35px!important;}
.bm40{margin-bottom:40px!important;}
.bm45{margin-bottom:45px!important;}
.bm50{margin-bottom:50px!important;}
.bm55{margin-bottom:55px!important;}
.bm60{margin-bottom:60px!important;}
.bm65{margin-bottom:65px!important;}
.bm70{margin-bottom:70px!important;}
.bm75{margin-bottom:75px!important;}
.bm80{margin-bottom:80px!important;}
.bm85{margin-bottom:85px!important;}
.bm90{margin-bottom:90px!important;}
.bm95{margin-bottom:95px!important;}
.bm100{margin-bottom:100px!important;}
.bm105{margin-bottom:105px!important;}
.bm110{margin-bottom:110px!important;}
.bm115{margin-bottom:115px!important;}
.bm120{margin-bottom:120px!important;}


/* margin Left */
/* ------------------------------------------------------ */
.lmM50{margin-left:-50px!important;}
.lmM45{margin-left:-45px!important;}
.lmM40{margin-left:-40px!important;}
.lmM35{margin-left:-35px!important;}
.lmM30{margin-left:-30px!important;}
.lmM25{margin-left:-25px!important;}
.lmM20{margin-left:-20px!important;}
.lmM15{margin-left:-15px!important;}
.lmM10{margin-left:-10px!important;}
.lmM5{margin-left:-5px!important;}
.lm0{margin-left:0px!important;}
.lm5{margin-left:5px!important;}
.lm10{margin-left:10px!important;}
.lm15{margin-left:15px!important;}
.lm20{margin-left:20px!important;}
.lm25{margin-left:25px!important;}
.lm30{margin-left:30px!important;}
.lm35{margin-left:35px!important;}
.lm40{margin-left:40px!important;}
.lm45{margin-left:45px!important;}
.lm50{margin-left:50px!important;}


/* margin Right */
/* ------------------------------------------------------ */
.rmM50{margin-right:-50px!important;}
.rmM45{margin-right:-45px!important;}
.rmM40{margin-right:-40px!important;}
.rmM35{margin-right:-35px!important;}
.rmM30{margin-right:-30px!important;}
.rmM25{margin-right:-25px!important;}
.rmM20{margin-right:-20px!important;}
.rmM15{margin-right:-15px!important;}
.rmM10{margin-right:-10px!important;}
.rmM5{margin-right:-5px!important;}
.rm0{margin-right:0px!important;}
.rm5{margin-right:5px!important;}
.rm10{margin-right:10px!important;}
.rm15{margin-right:15px!important;}
.rm20{margin-right:20px!important;}
.rm25{margin-right:25px!important;}
.rm30{margin-right:30px!important;}
.rm35{margin-right:35px!important;}
.rm40{margin-right:40px!important;}
.rm45{margin-right:45px!important;}
.rm50{margin-right:50px!important;}


/* padding Top */
/* ------------------------------------------------------ */
.tp0{padding-top:0px!important;}
.tp5{padding-top:5px!important;}
.tp10{padding-top:10px!important;}
.tp15{padding-top:15px!important;}
.tp20{padding-top:20px!important;}
.tp25{padding-top:25px!important;}
.tp30{padding-top:30px!important;}
.tp40{padding-top:40px!important;}
.tp45{padding-top:45px!important;}
.tp50{padding-top:50px!important;}
.tp55{padding-top:55px!important;}
.tp60{padding-top:60px!important;}
.tp65{padding-top:65px!important;}
.tp70{padding-top:70px!important;}
.tp75{padding-top:75px!important;}
.tp80{padding-top:80px!important;}
.tp85{padding-top:85px!important;}
.tp90{padding-top:90px!important;}
.tp95{padding-top:95px!important;}
.tp100{padding-top:100px!important;}
.tp105{padding-top:105px!important;}
.tp110{padding-top:110px!important;}
.tp115{padding-top:115px!important;}
.tp120{padding-top:120px!important;}


/* padding Bottom */
/* ------------------------------------------------------ */
.bp0{padding-bottom:0px!important;}
.bp5{padding-bottom:5px!important;}
.bp10{padding-bottom:10px!important;}
.bp15{padding-bottom:15px!important;}
.bp20{padding-bottom:20px!important;}
.bp25{padding-bottom:25px!important;}
.bp30{padding-bottom:30px!important;}
.bp40{padding-bottom:40px!important;}
.bp45{padding-bottom:45px!important;}
.bp50{padding-bottom:50px!important;}
.bp55{padding-bottom:55px!important;}
.bp60{padding-bottom:60px!important;}
.bp65{padding-bottom:65px!important;}
.bp70{padding-bottom:70px!important;}
.bp75{padding-bottom:75px!important;}
.bp80{padding-bottom:80px!important;}
.bp85{padding-bottom:85px!important;}
.bp90{padding-bottom:90px!important;}
.bp95{padding-bottom:95px!important;}
.bp100{padding-bottom:100px!important;}
.bp105{padding-bottom:105px!important;}
.bp110{padding-bottom:110px!important;}
.bp115{padding-bottom:115px!important;}
.bp120{padding-bottom:120px!important;}


/* padding Left */
/* ------------------------------------------------------ */
.lp5{padding-left:5px!important;}
.lp10{padding-left:10px!important;}
.lp15{padding-left:15px!important;}
.lp20{padding-left:20px!important;}
.lp25{padding-left:25px!important;}
.lp30{padding-left:30px!important;}
.lp35{padding-left:35px!important;}
.lp40{padding-left:40px!important;}
.lp45{padding-left:45px!important;}
.lp50{padding-left:50px!important;}
.lp52{padding-left:52px!important;}


/* padding Right */
/* ------------------------------------------------------ */
.rp5{padding-right:5px!important;}
.rp10{padding-right:10px!important;}
.rp15{padding-right:15px!important;}
.rp20{padding-right:20px!important;}
.rp25{padding-right:25px!important;}
.rp30{padding-right:30px!important;}
.rp35{padding-right:35px!important;}
.rp40{padding-right:40px!important;}
.rp45{padding-right:45px!important;}
.rp50{padding-right:50px!important;}


/* width */
/* ------------------------------------------------------ */
.wd50 {width:50px!important;}
.wd100 {width:100px!important;}
.wd110 {width:110px!important;}
.wd120 {width:120px!important;}
.wd130 {width:130px!important;}
.wd140 {width:140px!important;}
.wd150 {width:150px!important;}
.wd160 {width:160px!important;}
.wd170 {width:170px!important;}
.wd180 {width:180px!important;}
.wd190 {width:190px!important;}
.wd200 {width:200px!important;}
.wd210 {width:210px!important;}
.wd220 {width:220px!important;}
.wd230 {width:230px!important;}
.wd240 {width:240px!important;}
.wd250 {width:250px!important;}
.wd260 {width:260px!important;}
.wd270 {width:270px!important;}
.wd280 {width:280px!important;}
.wd290 {width:290px!important;}
.wd300 {width:300px!important;}
.wd350 {width:350px!important;}
.wd400 {width:400px!important;}
.wd450 {width:450px!important;}
.wd500 {width:500px!important;}
.wd600 {width:600px!important;}
.wd700 {width:700px!important;}
.wd800 {width:800px!important;}


/* text-align */
/* ------------------------------------------------------ */
.txtC{text-align:center!important;}
.txtL{text-align:left!important;}
.txtR{text-align:right!important;}


/* vertical-align */
/* ------------------------------------------------------ */
.verT{vertical-align:top!important;}
.verM{vertical-align:middle!important;}
.verB{vertical-align:bottom!important;}


/* margin auto */
/* ------------------------------------------------------ */
.mAuto {
margin-left: auto!important;
margin-right: auto!important;
}


/* font color */
/* ------------------------------------------------------ */
.color-blue02 {
color: #0061a0 !important;
}


/* ------------------------------------------------------ */
/* clearfix */
/* ------------------------------------------------------ */

#eleV4 .cleafix:after {
content: "";
display: block;
clear: both;
}

#eleV4 .cleafix {
min-height: 1%;
zoom: 1;
}

/* ------------------------------------------------------ */
/* etc */
/* ------------------------------------------------------ */

/* closeBtn */
/* ------------------------------------------------------ */
#eleV4 .closeBtn01 {
text-align: center;
margin-top: 20px;
}

.imgHover:hover{
filter: alpha(opacity=70);
opacity:0.7;
}

.clf{
zoom:1;
}
.clf:after{
content:".";
display:block;
clear:both;
height:0;
visibility:hidden;
}

