@charset "Shift_JIS";
/* ====================================================== */
/* For : General Elements */
/* 1. Important */
/* 2. Link */
/* 3. Text */
/* 4. Heading */
/* 5. List */
/* 6. Button */
/* 7. Link */
/* 8. Column */
/* 9. Form */
/* 10. Modules */
/* ====================================================== */

html {
	color: #333333;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Arial,sans-serif;
}

body {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	font-size: 1.6rem;
}

img {
	vertical-align: bottom;
}

strong {
	font-weight: bold;
}

sup {
	font-size: 0.7em;
	vertical-align: top;
}



/* ------------------------------------------------------ */
/* 1. Important */
/* ------------------------------------------------------ */

.nodisplay {
	display: none;
}

/* margin reset */
/* ------------------------------------------------------ */
.m0{margin: 0 !important;}
.m5{margin: 0.5rem !important;}
.m10{margin: 1rem !important;}
.m15{margin: 1.5rem !important;}
.m20{margin: 2rem !important;}
.m25{margin: 2.5rem !important;}

/* margin Top */
/* ------------------------------------------------------ */
.tm0{margin-top: 0 !important;}
.tm5{margin-top: 0.5rem !important;}
.tm10{margin-top: 1rem !important;}
.tm15{margin-top: 1.5rem !important;}
.tm20{margin-top: 2rem !important;}
.tm25{margin-top: 2.5rem !important;}
.tm30{margin-top: 3rem !important;}
.tm35{margin-top: 3.5rem !important;}
.tm40{margin-top: 4rem !important;}
.tm45{margin-top: 4.5rem !important;}
.tm50{margin-top: 5rem !important;}
.tm55{margin-top: 5.5rem !important;}

/* margin Bottom */
/* ------------------------------------------------------ */
.bm0{margin-bottom: 0 !important;}
.bm5{margin-bottom: 0.5rem !important;}
.bm10{margin-bottom: 1rem !important;}
.bm15{margin-bottom: 1.5rem !important;}
.bm20{margin-bottom: 2rem !important;}
.bm25{margin-bottom: 2.5rem !important;}
.bm30{margin-bottom: 3rem !important;}
.bm35{margin-bottom: 3.5rem !important;}
.bm40{margin-bottom: 4rem !important;}
.bm45{margin-bottom: 4.5rem !important;}
.bm50{margin-bottom: 5rem !important;}
.bm55{margin-bottom: 5.5rem !important;}

/* margin Left */
/* ------------------------------------------------------ */
.lm0{margin-left: 0 !important;}
.lm5{margin-left: 0.5rem !important;}
.lm10{margin-left: 1rem !important;}
.lm15{margin-left: 1.5rem !important;}
.lm20{margin-left: 2rem !important;}
.lm25{margin-left: 2.5rem !important;}
.lm30{margin-left: 3rem !important;}
.lm35{margin-left: 3.5rem !important;}
.lm40{margin-left: 4rem !important;}
.lm45{margin-left: 4.5rem !important;}
.lm50{margin-left: 5rem !important;}
.lm55{margin-left: 5.5rem !important;}

/* margin Right */
/* ------------------------------------------------------ */
.rm0{margin-right: 0 !important;}
.rm5{margin-right: 0.5rem !important;}
.rm10{margin-right: 1rem !important;}
.rm15{margin-right: 1.5rem !important;}
.rm20{margin-right: 2rem !important;}
.rm25{margin-right: 2.5rem !important;}
.rm30{margin-right: 3rem !important;}
.rm35{margin-right: 3.5rem !important;}
.rm40{margin-right: 4rem !important;}
.rm45{margin-right: 4.5rem !important;}
.rm50{margin-right: 5rem !important;}
.rm55{margin-right: 5.5rem !important;}

/* padding reset */
/* ------------------------------------------------------ */
.p0{padding: 0 !important;}
.p5{padding: 0.5rem !important;}
.p10{padding: 1rem !important;}
.p15{padding: 1.5rem !important;}
.p20{padding: 2rem !important;}
.p25{padding: 2.5rem !important;}

/* padding Top */
/* ------------------------------------------------------ */
.tp0{padding-top: 0 !important;}
.tp5{padding-top: 0.5rem !important;}
.tp10{padding-top: 1rem !important;}
.tp15{padding-top: 1.5rem !important;}
.tp20{padding-top: 2rem !important;}
.tp25{padding-top: 2.5rem !important;}
.tp30{padding-top: 3rem !important;}
.tp35{padding-top: 3.5rem !important;}
.tp40{padding-top: 4rem !important;}
.tp45{padding-top: 4.5rem !important;}
.tp50{padding-top: 5rem !important;}
.tp55{padding-top: 5.5rem !important;}

/* padding Bottom */
/* ------------------------------------------------------ */
.bp0{padding-bottom: 0 !important;}
.bp5{padding-bottom: 0.5rem !important;}
.bp10{padding-bottom: 1rem !important;}
.bp15{padding-bottom: 1.5rem !important;}
.bp20{padding-bottom: 2rem !important;}
.bp25{padding-bottom: 2.5rem !important;}
.bp30{padding-bottom: 3rem !important;}
.bp35{padding-bottom: 3.5rem !important;}
.bp40{padding-bottom: 4rem !important;}
.bp45{padding-bottom: 4.5rem !important;}
.bp50{padding-bottom: 5rem !important;}
.bp55{padding-bottom: 5.5rem !important;}

/* padding Left */
/* ------------------------------------------------------ */
.lp0{padding-left: 0 !important;}
.lp5{padding-left: 0.5rem !important;}
.lp10{padding-left: 1rem !important;}
.lp15{padding-left: 1.5rem !important;}
.lp20{padding-left: 2rem !important;}
.lp25{padding-left: 2.5rem !important;}
.lp30{padding-left: 3rem !important;}
.lp35{padding-left: 3.5rem !important;}
.lp40{padding-left: 4rem !important;}
.lp45{padding-left: 4.5rem !important;}
.lp50{padding-left: 5rem !important;}
.lp55{padding-left: 5.5rem !important;}

/* padding Right */
/* ------------------------------------------------------ */
.rp0{padding-right: 0 !important;}
.rp5{padding-right: 0.5rem !important;}
.rp10{padding-right: 1rem !important;}
.rp15{padding-right: 1.5rem !important;}
.rp20{padding-right: 2rem !important;}
.rp25{padding-right: 2.5rem !important;}
.rp30{padding-right: 3rem !important;}
.rp35{padding-right: 3.5rem !important;}
.rp40{padding-right: 4rem !important;}
.rp45{padding-right: 4.5rem !important;}
.rp50{padding-right: 5rem !important;}
.rp55{padding-right: 5.5rem !important;}

/* border-radius */
/* ------------------------------------------------------ */
.round0 {border-radius: 0 !important;}
.round5 {border-radius: 0.5rem !important;}
.round10 {border-radius: 1rem !important;}
.round15 {border-radius: 1.5rem !important;}
.round20 {border-radius: 2rem !important;}
.round25 {border-radius: 2.5rem !important;}
.round30 {border-radius: 3rem !important;}
.round35 {border-radius: 3.5rem !important;}
.round40 {border-radius: 4rem !important;}
.round45 {border-radius: 4.5rem !important;}
.round50 {border-radius: 5rem !important;}

/* width */
/* ------------------------------------------------------ */
.wd10pr {width: 10% !important;}
.wd15pr {width: 15% !important;}
.wd20pr {width: 20% !important;}
.wd25pr {width: 25% !important;}
.wd30pr {width: 30% !important;}
.wd35pr {width: 35% !important;}
.wd40pr {width: 40% !important;}
.wd45pr {width: 45% !important;}
.wd50pr {width: 50% !important;}
.wd55pr {width: 55% !important;}
.wd60pr {width: 60% !important;}
.wd65pr {width: 65% !important;}
.wd70pr {width: 70% !important;}
.wd75pr {width: 75% !important;}
.wd80pr {width: 80% !important;}
.wd85pr {width: 85% !important;}
.wd90pr {width: 90% !important;}
.wd95pr {width: 95% !important;}
.wd100pr {width: 100% !important;}

/* text-align */
/* ------------------------------------------------------ */
.txtC {text-align: center !important;}
.txtL {text-align: left !important;}
.txtR {text-align: right !important;}

/* vertical-align */
/* ------------------------------------------------------ */
.verT {vertical-align: top !important;}
.verM {vertical-align: middle !important;}
.verB {vertical-align: bottom !important;}

/* line-height */
/* ------------------------------------------------------ */
.lh0 {line-height: 0 !important;}
.lh10 {line-height: 1 !important;}
.lh15 {line-height: 1.5 !important;}
.lh20 {line-height: 2 !important;}
.lh25 {line-height: 2.5 !important;}
.lh30 {line-height: 3 !important;}

/* position */
/* ------------------------------------------------------ */
.posRel {position: relative !important;}

/* float */
/* ------------------------------------------------------ */
.fltR {float: right !important;}
.fltL {float: left !important;}

/* img */
/* ------------------------------------------------------ */
.img100 {width: 100%; height: auto;}



/* ------------------------------------------------------ */
/* 2. Link */
/* ------------------------------------------------------ */
a:link    {color: #007cc2; text-decoration: underline;}
a:visited {color: #007cc2; text-decoration: underline;}
a:active  {color: #007cc2; text-decoration: underline;}
a:hover   {color: #007cc2; text-decoration: underline;}
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}



/* ------------------------------------------------------ */
/* 3. Text */
/* ------------------------------------------------------ */

/* text size */
/* ------------------------------------------------------ */
.text10 {font-size: 1rem !important;}
.text11 {font-size: 1.1rem !important;}
.text12 {font-size: 1.2rem !important;}
.text13 {font-size: 1.3rem !important;}
.text14 {font-size: 1.4rem !important;}
.text15 {font-size: 1.5rem !important;}
.text16 {font-size: 1.6rem !important;}
.text17 {font-size: 1.7rem !important;}
.text18 {font-size: 1.8rem !important;}
.text19 {font-size: 1.9rem !important;}
.text20 {font-size: 2rem !important;}
.text21 {font-size: 2.1rem !important;}
.text22 {font-size: 2.2rem !important;}
.text23 {font-size: 2.3rem !important;}
.text24 {font-size: 2.4rem !important;}
.text25 {font-size: 2.5rem !important;}
.text26 {font-size: 2.6rem !important;}
.text27 {font-size: 2.7rem !important;}
.text28 {font-size: 2.8rem !important;}
.text29 {font-size: 2.9rem !important;}
.text30 {font-size: 3rem !important;}

/* text style */
/* ------------------------------------------------------ */
.text-normal {
	font-weight: normal !important;
}

.text-strong {
	font-weight: bold !important;
}

.underline {
	text-decoration: underline !important;
}

.text-no-decoration {
	text-decoration: none !important;
}

/* text indent */
/* ------------------------------------------------------ */
.text-indent-First {
	text-indent: -1em !important;
	padding-left: 1em !important;
}

.text-indent-First-12 {
	text-indent: -1.2rem !important;
	padding-left: 1.2rem !important;
}

.text-indent-First-13 {
	text-indent: -1.3rem !important;
	padding-left: 1.3rem !important;
}

.text-indent-First-14 {
	text-indent: -1.4rem !important;
	padding-left: 1.4rem !important;
}

.text-indent-First-15 {
	text-indent: -1.5rem !important;
	padding-left: 1.5rem !important;
}

.text-indent-First-16 {
	text-indent: -1.6rem !important;
	padding-left: 1.6rem !important;
}

/* text color */
/* ------------------------------------------------------ */
.color-orange {
	color: #ed7d13 !important;
}

.color-red {
	color: #ff0000 !important;
}

.color-blue {
	color: #006ab6 !important;
}

.color-gray {
	color: #888888 !important;
}

.color-black {
	color: #333333 !important;
}

/* background color */
/* ------------------------------------------------------ */
.bgcolor-white {
	background-color: #ffffff !important;
}

.bgcolor-orange {
	background-color: #ed7d13 !important;
}

.bgcolor-yellow {
	background-color: #ffff00 !important;
}

.bgcolor-red {
	background-color: #ff0000 !important;
}

.bgcolor-blue {
	background-color: #006ab6 !important;
}

.bgcolor-gray {
	background-color: #eeeeee !important;
}

.bgcolor-green {
	background-color: #007362 !important;
}

.bgcolor-lightblue {
	background-color: #cce1f0 !important;
}

.bgcolor-lightblue2 {
	background-color: #e6f0f9 !important;
}

.bgcolor-lightorange {
	background-color: #eed8c3 !important;
}

.bgcolor-pink {
	background-color: #f9e6ea !important;
}



/* ------------------------------------------------------ */
/* 4. Heading */
/* ------------------------------------------------------ */

/* .filledBlue */
/* ------------------------------------------------------ */
h1.filledBlue, 
h2.filledBlue, 
h3.filledBlue, 
h4.filledBlue {
	background: #006ab6;
	margin: 0;
	padding: 0.5rem 1.5rem;
	color: #ffffff;
	font-size: 2.1rem;
	line-height: 1.3;
	text-align: center;
}

/* .filledLight */
/* ------------------------------------------------------ */
h1.filledLight, 
h2.filledLight, 
h3.filledLight, 
h4.filledLight {
	background: #eeeeee;
	margin: 0;
	padding: 1.2rem 1.5rem;
	color: #333333;
	font-size: 2.1rem;
	line-height: 1.3;
	text-align: center;
}

/* img */
/* ------------------------------------------------------ */
.ttlImage img {
	width: 100%;
	height: auto;
}

/* .accordionTtl */
/* ------------------------------------------------------ */
h1.accordionTtl, 
h2.accordionTtl, 
h3.accordionTtl, 
h4.accordionTtl {
	margin: 0;
	padding: 0;
	border-top: solid 0.1rem #eeeeee;
	border-bottom: solid 0.1rem #eeeeee;
}

/* .beltTtl */
/* ------------------------------------------------------ */
h1.beltTtl, 
h2.beltTtl, 
h3.beltTtl, 
h4.beltTtl {
	margin: 3rem 1.5rem 2rem;
	padding: 0 0 0 2rem;
	background: url("/common/images_v2/smp/bg_beltTtl.png") no-repeat left bottom;
	background-size: 0.8rem auto;
	color: #006ab6;
	font-size: 2rem;
}

h1.beltTtl span, 
h2.beltTtl span, 
h3.beltTtl span, 
h4.beltTtl span {
	box-sizing: border-box;
	display: table-cell;
	height: 5rem;
	font-weight: bold;
	line-height: 1.3;
	vertical-align: middle;
}

/* .quarterTtl */
/* ------------------------------------------------------ */
h1.quarterTtl, 
h2.quarterTtl, 
h3.quarterTtl, 
h4.quarterTtl {
	background: url("/common/images_v2/smp/icn_quarterTtl.png") no-repeat 0 0.3rem;
	background-size: 1.3rem auto;
	box-sizing: border-box;
	margin: 3rem 0 1.5rem;
	padding: 0 0 0 2rem;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.3;
}



/* ------------------------------------------------------ */
/* 5. List */
/* ------------------------------------------------------ */
/* .linkList */
/* ------------------------------------------------------ */
.linkList {
	margin: 0;
	border-top: solid 0.1rem #eeeeee;
}

.linkList li {
	display: table;
	margin: 0;
	padding: 0;
	border-bottom: solid 0.1rem #eeeeee;
	width: 100%;
	position: relative;
}

.linkList li::after {
    background: url("/common/images_v2/smp/arw_next_gray.png") no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.6rem;
    width: 2rem;
    margin-top: -0.8rem;
    position: absolute;
    right: 1.5rem;
    top: 50%;
}

.linkList li a {
	display: table-cell;
	box-sizing: border-box;
	padding: 1rem 3rem 1rem 1.5rem;
	width: 100%;
	height: 5.9rem;
	vertical-align: middle;
	color: #333;
	font-size: 1.6rem;
	text-decoration: none;
}



/* ------------------------------------------------------ */
/* 6. Button */
/* ------------------------------------------------------ */

.button {
	display: inline-block;
	border: 0.2rem solid #dddddd;
	border-radius: 0.5rem;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem;
	box-shadow: 0.3rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

a.button, 
a.button:hover {
	text-decoration: none;
}

.button span {
	display: block;
	padding: 0;
	vertical-align: middle;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	line-height: 1.3;
	white-space: nowrap;
}

.button > *:before,
.button > *:after {
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
}

.button.leftArrowLeft > *:before,
.button.rightArrowLeft > *:before,
.button.leftArrowRight > *:after,
.button.rightArrowRight > *:after {
	content: "";
	top: -0.1em;
	border: 0.3em solid transparent;
	vertical-align: middle;
}

.button.leftArrowLeft > *:before {
	left: -0.4em;
	border-right-width: 0.4em;
	border-right-color: #ffffff;
}

.button.rightArrowLeft > *:before {
	left: -0.1em;
	border-left-width: 0.4em;
	border-left-color: #ffffff;
}

.button.leftArrowRight > *:after {
	left: 0.1em;
	border-right-width: 0.4em;
	border-right-color: #ffffff;
}

.button.rightArrowRight > *:after {
	left: 0.4em;
	border-left-width: 0.4em;
	border-left-color: #ffffff;
}

.button.L {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.button.M {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.button.S {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.button.closeWindow:before {
	content: "×";
	margin-right: 0.2em;
	position: relative;
	top: -0.05em;
}

/* button color */
/* ------------------------------------------------------ */
.button.blue {
	border-color: #006ab6;
	background-color: #006ab6;
	color: #ffffff;
}

.button.orange {
	border-color: #ed7d13;
	background-color: #ed7d13;
	color: #ffffff;
}

.button.red {
	border-color: #d00a01;
	background-color: #d00a01;
	color: #ffffff;
}

.button.blue.disabled,
.button.orange.disabled,
.button.red.disabled {
	border-color: #dddddd;
	background-color: #dddddd;
}

.button.transparent {
	border-color: #ffffff;
	color: #ffffff;
}

.button.line {
	border-color: #cccccc;
	background-color: #ffffff;
	color: #777777;
}

.button.lineBlue {
	border-color: #006ab6;
	background-color: #ffffff;
	color: #006ab6;
}

.button.line > * {
	color: #777777;
}

.button.lineBlue > * {
	color: #006ab6;
}

.button.line.leftArrowLeft > *:before, 
.button.line.leftArrowRight > *:after {
	border-right-color: #777777;
}

.button.line.rightArrowLeft > *:before, 
.button.line.rightArrowRight > *:after {
	border-left-color: #777777;
}

.button.lineBlue.leftArrowLeft > *:before, 
.button.lineBlue.leftArrowRight > *:after {
	border-right-color: #006ab6;
}

.button.lineBlue.rightArrowLeft > *:before, 
.button.lineBlue.rightArrowRight > *:after {
	border-left-color: #006ab6;
}

.button.line.disabled, 
.button.lineBlue.disabled {
	border-color: #e5e5e5;
	color: #dddddd;
}

.button.line.disabled > *, 
.button.lineBlue.disabled > * {
	color: #dddddd;
}

.button.line.disabled > *:before, 
.button.line.disabled > *:after, 
.button.lineBlue.disabled > *:before, 
.button.lineBlue.disabled > *:after {
	border-left-color: #dddddd;
}



/* ------------------------------------------------------ */
/* 7. Link */
/* ------------------------------------------------------ */

.linkPop,
.linkInfo,
.linkDiscArrow, 
.linkArrow, 
.linkArrowDown, 
.linkExclamation {
	color: #007cc2;
	text-decoration: underline;
}

.linkPop:before, 
.linkInfo:before, 
.linkDiscArrow:before, 
.linkArrow:before, 
.linkArrowDown:before, 
.linkExclamation:before, 
.linkPop:after, 
.linkInfo:after, 
.linkDiscArrow:after, 
.linkArrow:after, 
.linkArrowDown:after, 
.linkExclamation:after {
	position: relative;
	top: 0.2em;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
}

.linkPop {
	display: inline;
	text-decoration: underline;
}

.linkPop:after {
	margin-left: 0.2em;
	width: 1em;
	height: 1em;
	content: "";
	background-image: url("/common/images_v2/icn_link_new_window_blue.png");
}

.linkDiscArrow {
	display: inline-block;
	text-indent: -1.4em;
	padding-left: 1.4em;
}

.linkDiscArrow:before {
	margin-right: 0.2em;
	width: 1.2em;
	height: 1.2em;
	content: "";
	background-image: url("/common/images_v2/icn_link_disc_arrow_blue.png");
}

.linkArrow, 
.linkArrowDown {
	display: inline-block;
}

.linkArrow:before, 
.linkArrowDown:before {
	display: inline-block;
	border: 0.4em solid transparent;
	content: "";
}

.linkArrow {
	padding-left: 0.8em;
	text-indent: -0.8em;
}

.linkArrow:before {
	top: -0.05em;
	border-right-width: 0.3em;
	border-left-width: 0.5em;
	border-left-color: #007cc2;
}

.linkArrowDown {
	padding-left: 0.95em;
	text-indent: -0.95em;
}

.linkArrowDown:before {
	top: 0.25em;
	margin-right: 0.2em;
	border-top-width: 0.5em;
	border-top-color: #007cc2;
}

.pclink:after {
	content: "";
	display: inline-block;
	background: url("/common/images_v2/icn_pc_blue.png") no-repeat center center;
	background-size: contain;
	width: 1em;
	height: 1em;
	margin: 0 0 0 0.5rem;
	vertical-align: middle;
}

.pdflink:after {
	content: "";
	display: inline-block;
	background: url("/common/images_v2/smp/icn_pdf_blue.png") no-repeat center center;
	background-size: contain;
	width: 1em;
	height: 1em;
	margin: 0 0 0 0.5rem;
	vertical-align: middle;
}

.linkPop.pdflink:after,
.linkInfo.pdflink:after,
.linkDiscArrow.pdflink:after, 
.linkArrow.pdflink:after, 
.linkArrowDown.pdflink:after {
	vertical-align: top;
	margin-top: 0.2rem;
}

.linkExclamation {
	display: inline-block;
	text-indent: -1.4em;
	padding-left: 1.4em;
}

.linkPop.pclink:after,
.linkInfo.pclink:after,
.linkDiscArrow.pclink:after, 
.linkArrow.pclink:after, 
.linkArrowDown.pclink:after, 
.linkExclamation.pclink:after, 
.linkPop.pclink-gray:after,
.linkInfo.pclink-gray:after,
.linkDiscArrow.pclink-gray:after, 
.linkArrow.pclink-gray:after, 
.linkArrowDown.pclink-gray:after, 
.linkExclamation.pclink-gray:after, 
.linkPop.pdflink:after,
.linkInfo.pdflink:after,
.linkDiscArrow.pdflink:after, 
.linkArrow.pdflink:after, 
.linkArrowDown.pdflink:after, 
.linkExclamation.pdflink:after {
	vertical-align: baseline;
}



/* ------------------------------------------------------ */
/* 8. Column */
/* ------------------------------------------------------ */

.glid2 {
	clear: both;
	overflow: hidden;
}

.glid2 > * {
	float: left;
	width: 48%;
	margin: 0 0 1.5rem;
	box-sizing: border-box;
}

.glid2 > *:nth-child(2n) {
	margin-left: 4%;
}

.glid3 {
	clear: both;
	overflow: hidden;
}

.glid3 > * {
	float: left;
	width: 32%;
	margin: 0 2% 1.5rem 0;
	box-sizing: border-box;
}

.glid3 > *:nth-child(3n) {
	margin-right: 0;
}

.glid4 {
	clear: both;
	overflow: hidden;
}

.glid4 > * {
	float: left;
	width: 23%;
	margin: 0 2% 1.5rem 0;
	box-sizing: border-box;
}

.glid4 > *:nth-child(4n) {
	margin-right: 0;
}



/* ------------------------------------------------------ */
/* 10. Modules */
/* ------------------------------------------------------ */

.container {
	margin: 1.5rem;
}

.container > * {
	margin: 1.5rem 0;
}



/* ------------------------------------------------------ */
/* .titleBox */
/* ------------------------------------------------------ */

.titleBox {
	display: table;
	width: 100%;
	margin: 1.5rem 0;
	padding: 0 0.5rem 0 1.5rem;
	box-sizing: border-box;
}

.titleBox .bnr {
	display: table-cell;
	box-sizing: border-box;
	width: 30%;
	padding: 0 1.2rem 0 0;
	vertical-align: middle;
}

.titleBox h1 {
	display: table-cell;
	box-sizing: border-box;
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.3;
	vertical-align: middle;
}

.titleBox .bnr img {
	width: 100%;
	height: auto;
}



/* ------------------------------------------------------ */
/* .productsCatList */
/* ------------------------------------------------------ */

.productsCatList {
	margin: 2rem 0;
}

.productsCatList ul {
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0 2rem;
	background: #eeeeee;
}

.productsCatList li {
	display: table;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	width: 50%;
}

.productsCatList li a {
	display: table-cell;
	margin: 0;
	padding: 0;
	color: #006ab6;
	vertical-align: middle;
	text-align: center;
	height: 10rem;
}

.productsCatList li:nth-child(odd) a {
	padding-right: 1rem;
}

.productsCatList li:nth-child(even) a {
	padding-left: 1rem;
}

.productsCatList li:nth-child(n+3) {
	padding-top: 2.3rem;
}

.productsCatList li:nth-child(n+3):before {
	content: "";
	display: block;
	width: 100%;
	height: 0.3rem;
	background: #ffffff;
	position: absolute;
	top: 1rem;
}

.productsCatList li:nth-child(odd):before {
	left: -1rem;
}

.productsCatList li:nth-child(even):before {
	left: 1rem;
}

.productsCatList li:nth-child(even):after {
	content: "";
	display: block;
	width: 0.3rem;
	height: 100%;
	background: #ffffff;
	position: absolute;
	left: -0.15rem;
}

.productsCatList li a span {
	display: block;
	font-size: 1.4rem;
	padding-bottom: 1rem;
}

.productsCatList li a span:last-child {
	padding-bottom: 0;
}

.productsCatList .productsCatListMore {
	margin: 0;
	display: block;
	background-color: #eeeeee;
	text-align: center;
	padding: 2rem 0;
	font-size: 1.6rem;
}



/* ------------------------------------------------------ */
/* .indexList */
/* ------------------------------------------------------ */

.indexList li {
	margin: 1rem 0;
}



/* ------------------------------------------------------ */
/* .indexLink */
/* ------------------------------------------------------ */

.indexLink li {
	margin: 1rem 0;
	font-size: 1.4rem;
}



/* ------------------------------------------------------ */
/* .pageAttention, .sslInfo */
/* ------------------------------------------------------ */

.pageAttention {
	margin: 1.5rem;
	padding: 1.2rem 1.5rem;
	border: solid 0.1rem #eeeeee;
}

.pageAttention p {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

.sslInfo {
	margin: 1.5rem;
	padding: 1.2rem 1.5rem;
	border: solid 0.1rem #eeeeee;
	clear: both;
	overflow: hidden;
}

.sslInfo p {
	margin: 0;
	padding: 0 0 0 116px;
	font-size: 1.2rem;
}

.sslInfo p.sslseal {
	float: left;
	padding: 0;
}



/* ------------------------------------------------------ */
/* .toPageTopFloat */
/* ------------------------------------------------------ */

.toPageTopFloat {
	position: fixed;
	z-index: 99;
	right: 0;
	bottom: 13.8rem;
	padding: 1.8rem 1.2rem;
	opacity: 0;
	background: rgba(0, 0, 0, 0.2);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	line-height: 1;
	font-size: 1rem;
}

.toPageTopFloat.show {
	opacity: 1;
	pointer-events: auto;
}

.toPageTopFloat img {
	width: 2.4rem;
	vertical-align: middle;
}


